@{
    ViewData["Title"] = "Creditos";
}
<header class = "IndexHeader">
    <img src="/img/logo.png" alt="logo">
        <nav>
            <a href = '@Url.Action("Index")'> Home </a> 
    </nav>
</header>
<body>
<audio controls autoplay>
<source src ="~/money.mp3">
</audio>
   <p> Esta pagina fue hecha por Michelle Garber y Martina Szwarcbort</p>
<div class="card" style="width: 18rem;">
  <img src="/img/martina.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Martina Szawrcbort</h5>
    <p class="card-text">Co-creadora de la sala de escape, Martina fue clave en la concepción general y el diseño de los acertijos. Se encargó de seleccionar las imágenes perfectas para el proyecto, garantizando que cada detalle visual complementara la experiencia. Por ultimo, co-programó el inicio del proyecto.</p>
  </div>

  <div class="card" style="width: 18rem;">
  <img src="/img/michelle.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Michelle Garber</h5>
    <p class="card-text">Co-creadora de la sala de escape, Michelle co-programo con Martina el inicio del proyecto y se encargó de las partes finales y habitaciones. Programo la base de css de la página. Desarrollo algunos de los textos.</p>
  </div>
</body>