@{
    ViewData["Title"] = "Inicio";
}

<body>
<audio controls autoplay>
<source src ="~/honey.mp3">
</audio>
    <section class = "Fondo">
<button type="button" class="btn btn-primary"><a href = '@Url.Action("Habitacion1")'> Empieza la sala de escape! </a></button> 
</section >
</body>



