@{
    ViewData["Title"] = "Inicio";
}

<body>
<audio controls autoplay>
<<<<<<< HEAD
<source src ="~/gimme.mp3">
=======
<source src ="~/honey.mp3">
>>>>>>> 9cbb43468e0ffd7f725fc73036eb753fe6387c2f
</audio>
    <section class = "Fondo">
<button type="button" class="btn btn-primary"><a href = '@Url.Action("Habitacion1")'> Empieza la sala de escape! </a></button> 
</section >
</body>



