@{
    ViewData["Title"] = "Victoria";
}
<header class = "IndexHeader">
    
        <nav>
            <a href = '@Url.Action("Tutorial")'> Tutorial </a> 
        </nav>
            <img src="/img/logo.png" alt="logo">
        <nav>
            <a href = '@Url.Action("Inicio")'> Inicio </a>
        </nav>
</header>
<body>
<audio controls autoplay>
<source src ="~/Voulez-Vouz.mp3">
</audio>
    <h1>¡FELICIDADES!</h1>
    <h2>HAZ DESCUBIERTO AL PADRE</h2>
    <img src="/img/bill.jpg" alt="dads">
    <p>Gracias por participar en esta sala, esperamos que lo hayas disfrutado. Consideramos que Bill podría ser el padre de Sophie debido a su humor y las conexiones en común., ¿estás de acuerdo?</p>
    <button type="button" class="btn btn-primary"><a href = '@Url.Action("Creditos")'> Creditos </a></button>
</body>
    
    
